@model IEnumerable<Multas.Models.Agentes>

@{
    ViewBag.Title = "Agentes";
}

<h2>Listagem de Agentes</h2>

<p>
    @Html.ActionLink("Adicionar Agente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

@foreach (var agente in Model) {
    <tr>
        <td>
            @*mostrar conteudo de 1 atributo*@
            @Html.DisplayFor(modelItem => agente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => agente.Esquadra)
        </td>
        <td>
            @*apresentar a imagem de 1 agente*@
            @*@Html.DisplayFor(modelItem => agente.Fotografia)*@
            <img src="~/Imagens/@agente.Fotografia"
                 alt="imagem do agente @agente.Nome"
                 title="@agente.Nome"
                 width="50"/>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=agente.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=agente.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=agente.ID })
        </td>
    </tr>
}

</table>
